@import "tailwindcss";

html {
  background-color: var(--color-base);
  font-family:
    "Noto Sans JP",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Hiragino Sans",
    "Hiragino Kaku Gothic ProN",
    Meiryo,
    sans-serif;
  overscroll-behavior-x: none;
}

@theme {
  --color-white: #f7f7f7;
  --color-black: #333333;
  --color-gray: #b7b7b7;
  --color-base: #f7f7f7;
  --color-base-hover: #efefef;
  --color-main: #263238;
  --color-main-hover: #263238b3;
  --color-primary: #ef6c00;
  --color-primary-hover: #ef6c00b3;
  --color-primary-light: #f0b17d;
  /* --color-primary-hover: #EF6C00B3; */
  --color-success: #2fd334;
  --color-error: #d32f2f;
}
