@import "tailwindcss";

@theme {
  --color-white: #F7F7F7;
  --color-black: #333333;
  --color-base: #F7F7F7;
  /* --color-base-hover: #EFEFEF; */
  --color-main: #263238;
  --color-main-hover: #263238B3;
  --color-primary: #EF6C00;
  --color-primary-hover: #EF6C00B3;
  --color-primary-light: #F0B17D;
  /* --color-primary-hover: #EF6C00B3; */
  --color-error: #D32F2F
}
